<!DOCTYPE html>
<html>

  <head>
    <title>Reddit Reader</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
  </head>

  <body>
    <header>
      <h1><a href="/">Reddit Reader</a></h1>
      <h3>Reading:
        {% for nam in name %}
          r/{{nam}}
        {% endfor %}
      </h3>
    </header>
    <main>
      {% for data in final_data %}        
        <div>
          <h3>
            <a href="{{data.link}}", target="_blank">
              {{data.title}} 
            </a>
          </h3>
          <h4>{{data.vote}} &middot; r/{{data.subreddit}}</h4>
          <hr>
        </div>        
      {% endfor %}
    </main>
  
  </body>

</html>