<!DICTYPE html>
<html>
  <head>
    <title>Remote Jobs</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>
    <style>
      h1 {text-align: center;padding-top:100px}
      form { display: table; margin-left: auto; margin-right: auto; width:200%}
    </style>
  </head>
  <body>
    <h1>Remote Jobs</h1>
    <form action="/report" method="get">
      <h2>Search by term:</h2>
      <input placeholder='i.e python' required name="word" />
      <button>Find my job</button>
    </form>
  </body>
</html>