<!DOCTYPE html>
<html>

  <head>
    <title>Reddit Reader</title>
    <link href="https://andybrewer.github.io/mvp/mvp.css" rel="stylesheet"></link>   
  </head>

  <body>
    <header>
      <h1>Remote Jobs</h1>
      <h3>{{resultsNumber}} {{searchingBy}} jobs found.</h3>
      <a href="/export?word={{searchingBy}}">Export to CSV</a>
      <h4><a href="/">&larr; Go back</a></h4>
    </header>
    <main>
      {% for data in jobs %}        
        <div>
          <h3>{{data.title}}</h3>
          <p></p>
          <h4>{{data.company}}</h4>
          <p></p>
          <a href="{{data.link}}", target="_blank">Apply</a>
          <hr>
        </div>        
      {% endfor %}
    </main>
  
  </body>

</html>